@import '../../global.scss';

.projects {
    background-color: $babyWhite;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 50px;
        margin: 20px 0;
    }

    ul {
        margin: 30px;
        padding: 0;
        list-style: none;
        display: flex;
    }

    .container {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .item {
            width: 250px;
            height: 200px;
            border-radius: 20px;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $paleWhite;
            position: relative;
            transition: all 0.5 ease;

            .details {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 5px;

                .details-title {
                    h3 {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }

                .details-buttons {
                    a {
                        color: inherit;
                        text-decoration: none;

                        button {
                            cursor: pointer;
                            background-color: $darkOrange;
                            border: none;
                            border-radius: 5px;
                            width: auto;
                            color: $white;
                            padding: 10px;
                            margin: 10px;

                            h4 {
                                font-size: 15px;
                            }
                        }
                    }
                }

            }


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover {
                background-color: $mainColor;

                img {
                    opacity: 0.3;
                    z-index: 0;
                }
            }
        }

        .no-data {
            margin: 20px;
        }

    }
}