{{ define "main" }}

<header class="content__header">
  {{ if .Title }}
  <h1>
    {{ .Title | markdownify }} {{if .Params.demo}}<span>
      <a
        href="{{.Params.demo.url }}"
        target="_blank"
        style="color: #ffa07a; text-decoration: none"
      >
        ({{.Params.demo.name | default "Demo" }})
      </a>
    </span>
    {{end}}
  </h1>
  {{end}}
</header>
{{ if .Params.toc }}
<aside></aside>
{{ end }}
<br />
<div class="content__body">{{ .Content }}</div>
<footer class="content__footer"></footer>
{{ end }} {{define "aside" }} {{ if .Params.description }}
<p>{{ .Params.description }}</p>
{{ end }} {{ if or (.Params.author) (.Params.date) }}
<p>
  {{ if .Params.author }}By {{ .Params.author }}{{ if .Date }}, {{ end }}{{ end
  }} {{ if .Date }}{{ .Date.Format "2006-01-02" }}{{ end }}
</p>
{{ end }} {{ if and (.Params.toc) (.TableOfContents) }}
<hr />
On this page: {{ .TableOfContents }} {{ end }} {{ end }}
