// $mainColor: #52796F;
$mainColor:#395B50;
$white: #FBFBFB;
$paleWhite: #f7ede2;
$babyWhite:#FDFFF7;
// $darkBlue: #003F91;
$darkOrange: #DA7422;


$width: 768px;

@mixin smallSize{
    @media (max-width: #{$width}) {
        @content
    }
}


