<style>
  .personal-info {
    margin-top: 1rem;
    padding: 0 2.5rem;
    /* gap: 10rem; */
  }
  .b {
    font-weight: bold;
  }
  .df-sb {
    display: flex;
    justify-content: space-between;
  }
  .fd-column {
    flex-direction: column;
  }

    @media only screen and (max-width: 500px) {
      .df-sb {
        display: block;
      }
    }
</style>

<div class="df-sb personal-info">
  <div class="df-sb fd-column">
    <div><span class="b"> Email:</span> dahalprakash1996@gmail.com</div>
    <div><span class="b"> Contact:</span> +977 9808797408</div>
    <div><span class="b"> Address:</span> Boudha, Nepal</div>
  </div>

  <div class="df-sb fd-column">
    <a target="_blank" href="https://github.com/PrakashDahal">Github</a>
    <a target="_blank" href="https://www.linkedin.com/in/dahal-prakash-1720/"
      >LinkedIn</a
    >
    <a target="_blank" href="https://dahalprakash1720.medium.com/">Blog</a>
  </div>
</div>
